
body {
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}


button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
.remove-btn {
    background-color: #f44336;
}


.actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.remove-btn{
    background-color: #f44336;
}

.edit-btn{
    background-color: #0f25b0;
}